<article class = "card">
    <div class ="card-header justify-space-between">
        <a class="no-decoration" href="/blog/{{id}}">{{title}}</a> 
        Posted by {{user.username}} on {{format_date created_at}}
    </div>
    <div class="card-body">
        <p>{{blog_text}}</p>
    </div>
</article>
