<article class = "post">
    <div class ="hero">
        {{!-- <a href="{{post_url}}" target="_blank">{{title}}</a> --}}
        <a>{{title}}</a>
        Posted by {{user.username}} on {{created_at}}
        {{!-- <span>({{format_url post_url}})</span> --}}
    </div>
    <div class="meta">
        {{!-- {{vote_count}} {{format_plural "point" vote_count}}  --}}
        <p>{{blog_text}}</p>
    </div>
</article>